.header{
    background-image: url(./img/apple-store.jpg);
    background-position: left 45% top 45%;
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-sm-4{
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img{
    max-height: 200px;
    transition: transform .5s ease;
}

.img-hover-zoom img:hover{
    transform: scale(1.2);
}

.card-footer{
    margin: 0;
    text-align: center;
}