.header{
    background-image: url(./img/apple-store.jpg);
    background-position: left 50% top 45%;
    background-repeat: no-repeat;
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-sm-4{
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom-1 img{
    max-height: 200px;
    z-index: 50;
}

.w1280 {width: 1280px !important;}
.img-hover-zoom-1:hover .img-top{    
    display: block !important;
}
.img-hover-zoom-1:hover .img-bot{    
    display: none !important;
}

.img-top{
    display: none;
    position: absolute;  
    top: 50px;
    left: 100px;
    z-index: 99;
    transform: scale(1.3);
}

.card-footer{
    margin: 0;
    text-align: center;
}

.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img{
    max-height: 200px;
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.1);
  }